.garagem-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
  }

  > p {
    font-size: 1.8rem;
  }
}

:host {
  display: block;
  width: 100%;
  background-color: #fff;
}

.card-veiculo {
  display: flex;
  flex-wrap: wrap;
  background-color: #3b76a3;
  border-radius: 15px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  color: white;
  align-items: center;
  max-width: 900px;

  justify-content: flex-start;
  gap: 75px;

  min-height: 350px;
}

.imagem-wrapper {
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.imagem-wrapper img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.informacoes {
  flex: 1;
  padding: 10px 0;
  text-align: left;
}
@media (max-width: 768px) {
  .card-veiculo {
    flex-direction: column;
    text-align: center;
  }

  .imagem-wrapper {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
  .informacoes {
    padding: 20px 0 0 0;
  }
}

.logo-daily {
  margin-bottom: 25px;
  width: 170px;
}

.logo-sway {
  margin-bottom: 25px;
  width: 300px;
}

.logo-tector {
  width: 100px;
}
