:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
}

.dashboard-wrapper {
  flex-grow: 1;
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  box-sizing: border-box;

  h2 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0rem;
    color: #000;
    font-size: 2.5rem;
  }
}

.dashboard-grid {
  display: grid;
  gap: 1rem;
  margin-top: 1.5rem;
  background-color: #204873;
  padding: 1rem;
  border-radius: 10px;

  grid-template-columns: 1.5fr 1fr 1fr;
  grid-auto-rows: minmax(180px, auto);
  grid-template-areas:
    'c1   c1   c5'
    'c3   c4   c5'
    'c3   c6   c7'
    'c8   c8   c8';
}

.card {
  background-color: #ffffff;
  border: 1px solid #204873;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 1.1rem;
  min-height: 100px;
}

.c1 {
  grid-area: c1;
}
.c2 {
  grid-area: c2;
}
.c3 {
  grid-area: c3;
}
.c4 {
  grid-area: c4;
}
.c5 {
  grid-area: c5;
}
.c6 {
  grid-area: c6;
}
.c7 {
  grid-area: c7;
}
.c8 {
  grid-area: c8;
}

.c6 .chart-canvas-wrapper {
  height: 150px;
}

.chart-title-top {
  font-weight: 700;
  color: #000;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.c3 .chart-title {
  margin-top: 1.5rem;
}

.c4 .chart-title {
  margin-top: 1.5rem;
}

.c5 .chart-title {
  margin-top: 1.5rem;
}

.c6 .chart-title {
  margin-top: 1.5rem;
}

.c7 .chart-title {
  margin-top: 1.5rem;
}

.chart-canvas-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

canvas[baseChart] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.line-chart-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
