:host {
  display: block;
  width: 100%;
  background-color: #fff;
}

.precificador-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px 100px 20px;
  font-family: 'Horizon', sans-serif;
  background-color: #fff;
  text-align: center;
  flex-grow: 1;

  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .subtitulo {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .formulario-bloco {
    background-color: #ffffff;
    border: 6px solid #000;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .coluna {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .campo {
      display: flex;
      flex-direction: column;
      text-align: left;

      label {
        font-weight: bold;
        margin-bottom: 4px;
      }

      input,
      select {
        padding: 10px;
        border-radius: 14px;
        background-color: #3b76a5;
        border: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        font-family: Arial, sans-serif;
      }
      select option:disabled {
        color: #eeeeee;
      }

      input::placeholder {
        color: #fff;
      }
    }

    .botoes {
      width: 100%;
      margin-top: 20px;
      text-align: center;

      .botao {
        padding: 12px 30px;
        background-color: #000;
        color: #fff;
        border: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;

        &:hover {
          background-color: #444;
        }
      }
    }
  }

  .valores-box {
    background-color: #fff;
    border: 6px solid #000;
    border-radius: 40px;
    padding: 30px;
    margin-top: 40px;
    display: none;

    &.visivel {
      display: block;
    }

    h2 {
      font-weight: bold;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        font-weight: bold;

        &:first-child {
          width: 60%;
        }
        &:last-child {
          width: 40%;
          text-align: right;
        }
      }

      .valor {
        background-color: #3b76a5;
        padding: 8px 12px;
        border-radius: 12px;
        color: #fff;
        display: inline-block;
        font-size: 1.1em;
      }
    }
  }
}
